//Fonts
$main-font:        "Helvetica", "Arial", sans-serif;
$ff-rouble:           "Rouble", "Arial", sans-serif;

//Colors
$color-basic-black:                         #000000;
$color-dark-grey:                           #6e6e6e;
$color-grey:                                #c8c8c8;
$color-light-grey:                          #f1f1f1;
$color-basic-white:                         #ffffff;
$color-error-red:                           #d92c2c;
$color-success-green:                       #007e06;
$color-product-blue:                        #106da1;
$color-product-brown:                       #ae6d0c;
$color-product-black:                       #444444;

// Viewports
$vp-mobile:                                   767px;
$vp-tablet:                                  1199px;
$vp-desktop:                                 1920px;

// Retina
$retina-dpi:                                 144dpi;
$retina-dppx:                               1.5dppx;
